body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    margin: 50px;
    color: #343434;
}

#results {
    font-family: 'Parisienne', cursive;
    font-size: 2em;
    padding: 10px;
    color: #ff0062;
}
